<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="static/css/homepage.css" type="text/css" />
    <link rel="stylesheet" href="static/css/bootstrap.css" />
    <link rel="stylesheet" href="static/datepicker/css/bootstrap-datepicker3.min.css" />
    <link rel="stylesheet" href="static/css/swiper.min.css">
    <title>#(WEB_NAME ??) #(WEB_TITLE ??)</title>
</head>

<body>
    <div class="container-fluid main">
        <div id="background" class="row">
            <div id="head">
                <img id="logo" src="#(CPATH)/templates/DisourceDatabase/static/image/logo.png" />
                <span>Data Bank of National Security Discourses</span>
            </div>
            <div id="search" class="container">
                <div class="row">
                    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                        <div class="swiper-container banner">
                            <div class="swiper-wrapper">
                                #articles(orderBy="view_count",count=5)
                                #for(article:articles)
                                <div class="swiper-slide">
                                    <a href="#(article.url)">#(article.title)</a>
                                </div>
                                #end
                                #end
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                        <form id="searchform" action="#(CPATH)/article/search" class="input-group" method="GET"
                            target="_blank">
                            <div class="input-group">
                                <input type="text" class="form-control" name="keyword" placeholder="Search for...">
                                <span class="input-group-btn">
                                    <button class="btn btn-default" type="submit">Go!</button>
                                </span>
                            </div>
                        </form>
                    </div>
                    <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 language">
                        <span>Country:
                            <select class="change">
                                <option value="america">America</option>
                                <option value="china">China</option>
                                <option value="russia">Russia</option>
                                <option value="japan">Japan</option>
                                <option value="korea">South Korea</option>
                                <option value="india">India</option>
                            </select>
                        </span>
                    </div>
                </div>
            </div>
        </div>


        <div id="types" class="row">
            #categories()
            #for(category : categories)
            #if((for.count) <= 7) <span class="type">
                <a href="#(category.url)">#(category.title)</a>
                </span>
                #end
                #end
                #end
        </div>
        <div class="tags">
            <div class="tags-prev"></div>
            <div class="tags-banner swiper-container">
                <div class="swiper-wrapper">
                    #tags(count = 1000)
                    #for(tag : tags)
                    <div class="swiper-slide tag">
                        <a href="#(tag.url)">#(tag.title)</a>
                    </div>
                    #end
                    #end
                </div>
            </div>
            <div class="tags-next"></div>
        </div>
        <footer>
            <div class="container">
                <div class="row">
                    <div class="footer-logo">
                        <img src="#(CPATH)/templates/DisourceDatabase/static/image/centre.jpg" alt="">
                        #(WEB_COPYRIGHT ??)
                    </div>
                </div>
            </div>
        </footer>
    </div>
    <script src="static/js/jquery.js"></script>
    <script src="static/js/jquerysession.js"></script>
    <script src="static/js/jquery.cookie.js"></script>
    <script src="static/js/homepage.js"></script>
    <script src="static/js/swiper.min.js"></script>
</body>

</html>