<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="static/css/login.css">
    <title>国家安全话语数据库</title>
</head>
<body>
<div class="wrap">
    <div class="main">
        <div class="characters">
            <img id="logo" src="static/icon/LOGO_2.svg" type="image/svg+xml"/>
            <h1>国家安全话语数据库</h1>
            <br>
            <h2>——实时在线查询文章</h2>
        </div>
        <div style="float:left;width: 1px;background: rgb(224, 216, 216);"></div>
        <div class="container">
            <h1>Welcome</h1>
            <form action="./loginIn" method="post">
                <input type="text" name="nickname" placeholder="user login"/>
                <input type="password" name="password" placeholder="password"/>
                <input type="submit" value="Login"/>
            </form>
        </div>
    </div>
    <ul>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
    </ul>
</div>
</body>
</html>