@font-face {
    font-family: Ping;
    src:url("../font/苹方字体.ttf");
}
.pageHead{
    /* text-align: center; */
    background: url(../image/back.jpg);
    margin-left: 5%;
    margin-right: 5%;
    height: 80px;
    display: flex;
    align-items: center;
}
#head{
    margin-left: 3%;
    font-family: Ping;
    font-size: 18px;
    width: 40%;
    border-right: solid 1px #cccccc;
    height: 70px;
}

#logo{
    margin-left: -30px;
    margin-top: -7px;
    width: 90px;
    height: 80px;
    vertical-align:middle;
}

#artitleType{
    padding-left: 1%;
    font-size: 20px;
    width: 10%;
    color: #333333;
}

.articleInfo{
    position: relative;
    width: 80%;
    left: 10%;
}

.articleTitle{
    text-align: center;
}